/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.nav-items a {
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
}

/* Main content styles */
main {
    padding: 2rem;
    text-align: left;
}

.intro h1 {
    font-size: 2rem;
    color: Orange;
    text-align:center;
    margin-bottom: 1rem;
}
.intro h2{
    font-size: 2rem;
    color: green;
    text-align:left;
    margin-bottom: 1rem;
}
.intro p {
    font-size: 1rem;
    background-color: black;
    color:yellow;
    text-align: left;
}
ol{
    list-style-type:upper-roman;
    color:red;
    font-weight: bold;
    font-stretch: expanded;
}
ul{
    list-style-type:lower-roman;
    color:#333;
    font-weight: 300;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #f9f9f9;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
}
